.label-style{
    color: black;
    font-family: "Roboto";
    margin-bottom: 10px;
    font-size: 30px;
}

.task-label-text{
    font-weight: bold;
}

.input-section{
    border: solid 2px #b3b3ba;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
}

.inputEle-style{
    border: none;
    padding: 15px;
    outline: none;
    width: 100%;
}

.custom-add-btn{
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 15px;
    font-size: 25px;
}
