.main-heading{
    text-align: center;
    color: black;
    font-family: "Roboto";
    font-size: 50px;
    font-weight: bold;
}

.mr{
    margin-right: 15px;
    margin-top: 15px;
    min-width: 95px;
}