.input-st{
    margin: 3px 20px 0px 5px;
    width: 20px;
    cursor: pointer;
}

.task-style{
    background-color: rgb(216, 239, 250);
    border: solid 5px rgb(20, 160, 83);
    border-radius: 5px;
    border-width: 0px 0px 0px 5px;
    padding: 10px;
}

.task{
    font-weight: 500;
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(34, 37, 37);
}

.custom-btn{
    border: none;
    background-color: transparent;
    outline: none !important;
}

